
    <div class="row" style="text-align: center">
        <div class="col">
            <img src="/Uploads/B_T_Logo.png" width="450px"/>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col">
            <h1 style="font-size: 250%">By Trevor Popham</h1>
        </div>
    </div>

    <div class="row" style="text-align: center; padding-top: 50px">
        <div class="col">
            <h1 style="font-weight: bold">Built With</h1>
        </div>
        
    </div>
    <div class="row" style="text-align: center">

        <div class="col-3"></div>
        <div class="col-3">
            <ul>
                <li style="font-size: 25px">
                    Visual Studio
                </li>
                <li style="font-size: 25px">
                    C#
                </li>
                <li style="font-size: 25px">
                    SQL Server
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul>
                <li style="font-size: 25px">
                    MVC 5
                </li>
                <li style="font-size: 25px">
                    HTML/JS/CSS
                </li>
                <li style="font-size: 25px">
                    Admin LTE
                </li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row" style="text-align: center; padding-top: 50px">
        <div class="col">
            <h1 style="font-size: 250%">4 Week Project</h1>
        </div>
    </div>
